name: aditya CI

on: push

jobs: 
  lint-build:
    name: Lint and Build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout latest code
      uses: actions/checkout@v4

    - name: Setup Nodejs
      uses: actions/setup-node@v4
      
    - name: Install dependencies
      run: npm install

    - name: Run lint
      run: npm run lint

    - name: Run build
      run: npm run build

  test:
    name: Test
    runs-on: ubuntu-latest
    needs: lint-build

    steps:
    - name: Checkout latest code
      uses: actions/checkout@v4

    - name: Setup Nodejs
      uses: actions/setup-node@v4
      
    - name: Install dependencies
      run: npm install

    - name: Run test
      run: npm run test

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: test

    steps:
    - name: Checkout latest code
      uses: actions/checkout@v4

    - name: Setup Nodejs
      uses: actions/setup-node@v4
      
    - name: Install dependencies
      run: npm install
      
    - name: Run deploy
      run: npm run deploy
